  name: Deploy Frontend to EC2
  on:
    workflow_run:
      workflows: ["Node.js CI"]    # CI 脚本的 name
      types:
        - completed
    push:
      branches:
        - main

  permissions:
    contents: write
    deployments: write   # ⭐ 必须有
    actions: read

  jobs:
    deploy:
      if: ${{ github.event.workflow_run.conclusion == 'success' }}   # 只有 CI 成功才继续
      runs-on: ubuntu-latest
      environment:
        name: production
        url: http://47.130.160.97

      steps:      
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
            host: ${{ secrets.EC2_HOST }}
            username: ${{ secrets.EC2_USER }}
            key: ${{ secrets.EC2_SSH_KEY }}
            port: 22
            script: |
              # 1. 进入项目根目录
              cd ~/SL001_Frontend
              
              # 2. 拉取 main 最新代码
              git fetch origin
              git reset --hard origin/main
              
              # 3. 进入前端目录
              cd sl001fr
              
              # 4. 停掉旧容器（没有也不会报错）
              sudo docker compose down || true
              
              # 5. 构建并启动新版本
              sudo docker compose up -d --build
